.menu-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // margin-top: 2em;
    // border: solid hotpink 2px;
    position: absolute;
    top: 0;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: 1em;
}

.user-title {
    margin-top: 1em;
    color: #507F8F;
    // border: solid green 2px;
}

.menu {
    margin-top: 50px;
    // border: solid blue 2px;
}