.menu-container { 
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin-top: 2em;
    border: solid hotpink 2px;
}

.menu-container  {
    margin: 20px;
}

.menu {
    margin-top: 100px;
}

