.titleAndCancel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px; /* Add padding to the title section */
    padding-top: 0;
  }
  
  .titleAndCancel mat-dialog-actions {
    justify-content: flex-end;
    margin-top: 0; /* Move the actions section up */
    margin-right: -16px; /* Move the actions section to the right */
  }
  
  .titleAndSubtitle {
    width: 100%;
  }
  
  .mdc-dialog__title {
    color: #507F8F;
    margin: 0;
    padding: 0;
  }
  
  mat-icon {
    color: #507F8F;
  }
  
  #cancel-button {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .create-routine-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form fields horizontally */
    padding: 16px; /* Add padding to the form container */
  }
  
  .date-type,
  .card-title,
  .time-picker {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-card {
    border: solid #507F8F 1px;
    margin: 10px 0 10px;
  }
  
  mat-form-field {
    width: 100%;
    padding: 8px; /* Add padding to the mat-form-field */
  }
  
  button {
    width: 100%;
  }
  