<!-- Cards with media area -->
<mat-card class="routine-card" (click)="onCardClick($event)">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Routines</mat-card-title>
            <button id="more-button" [matMenuTriggerFor]="more">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #more="matMenu">
                <button mat-menu-item>
                    <span>Settings</span>
                </button>
            </mat-menu>
            <mat-card-subtitle>9:30 - 10:00</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <!-- {{longText}} -->
    </mat-card-content>
</mat-card>

<mat-card class="routine-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Routines</mat-card-title>
            <mat-icon>more_horiz</mat-icon>
            <mat-card-subtitle>9:30 - 10:00</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <!-- {{longText}} -->
    </mat-card-content>
</mat-card>

<mat-card class="routine-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Routines</mat-card-title>
            <mat-icon>more_horiz</mat-icon>
            <mat-card-subtitle>9:30 - 10:00</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <!-- {{longText}} -->
    </mat-card-content>
</mat-card>

<mat-card class="routine-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Routines</mat-card-title>
            <mat-icon>more_horiz</mat-icon>
            <mat-card-subtitle>9:30 - 10:00</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <!-- {{longText}} -->
    </mat-card-content>
</mat-card>